@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --chart-1: 34, 98%, 60%;
    --chart-2: 262, 83%, 67%;
    --chart-3: 153, 64%, 48%;
    --chart-4: 39, 92%, 53%;
    --chart-5: 220, 13%, 46%;
  }

  .dark {
    --chart-1: 34, 98%, 60%;
    --chart-2: 262, 83%, 67%;
    --chart-3: 153, 64%, 48%;
    --chart-4: 39, 92%, 53%;
    --chart-5: 220, 13%, 66%;
  }
}
